---
interface Props {
  id: string;
  src: string;
  label: string;
  toolTipItems: (string | string[])[];
  game: 'osrs' | 'rs3';
}

const { id, src, label, toolTipItems, game } = Astro.props;
---

<div
  class="relic"
  id={id}
  data-label={label}
  data-image-src={src}
  data-items={JSON.stringify(toolTipItems)}
>
  <img
    class:list={["relicImg", { rs3: game === 'rs3' }]}
    src={src}
    alt={`${label} relic icon`}
  />
  <span class="relicLabel">{label}</span>
</div>
